@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(135deg, var(--darker-color) 0%, var(--darker-color2) 100%);
  position: relative;
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

#light {
  --primary-color: #135EF2;
  --darker-color: #3E588C;
  --text-color: #3E588C;
  --darker-color2: #5b7cbd;
  --lighter-color: #77A1D9;
  --background-color: #BBD3F2;
  --white: #fff;
  --white-background: #fff;
  --black: #242424;
  --form-fill: #e8f0fe;
  --faulty: #FF6C59;
  --faulty-bg: #e8f0fe6c;
}

#dark {
  --primary-color: #fff;
  --white: #fff;
  --white-background: #242424;
  --black: #fff;
  --lighter-color: #808080;
  --background-color: #626262;
  --form-fill: #323232;
  --darker-color: #202020;
  --text-color: #fff;
  --darker-color2: #101010;
  --faulty: #FF6C59;
  --faulty-bg: #242424;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  cursor: pointer;
}

.logo svg {
  font-size: 28px;
  margin-right: 2px;
}

.logo__logged-out {
  cursor: default;
}

.logo__logged-out:hover {
  transform: translateY(0) !important;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.row {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 24px;
}

.container {
  padding: 16px 0;
}

input,
textarea,
select {
  padding: 12px 16px;
  border-radius: 8px;
  border: none;
  background-color: var(--form-fill);
  color: var(--black);
  margin-bottom: 16px;
  font-size: 16px;
  height: 52px;
  margin: 0 8px 16px 8px;
}

input:focus,
textarea:focus {
  outline: none;
  background-color: var(--background-color);
}

select:focus {
  outline: none;
}

label {
  margin: 0 0 8px 12px;
  font-weight: bold;
  font-size: 18px;
  font-weight: 700;
}

textarea {
  resize: vertical;
  height: 100px;
}


.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 384px;
  padding: 16px 32px;
  margin-bottom: 16px;
  text-transform: uppercase;
  font-size: 20px;
  box-shadow: 0 4px 0 var(--darker-color);
  color: var(--white);
  background-image: linear-gradient(160deg, var(--darker-color) 0%, var(--darker-color2) 100%);
  border-radius: 8px;
  transition: all 150ms ease;
  z-index: 1;
}

.btn:hover {
  opacity: 0.92;
}

.btn:active {
  opacity: 1;
  transform: scale(0.98);
}

.btn svg {
  margin-right: 4px;
}

/* 
NAV 
*/


nav {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 120px;
  padding: 16px 24px 0 24px;

}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1250px;
  width: 100%;
  padding: 0 32px;
  background-color: var(--darker-color);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 8px;
  z-index: 4;
}

.nav__container--logged-out {
  justify-content: center;
}

.nav__container--left {
  display: flex;
}

.nav__container--right {
  display: flex;
  align-items: center;
}

.nav__logo {
  margin-right: 32px;
  color: var(--white);
  transition: all 150ms ease;
}

.nav__logo:hover {
  transform: translateY(-2px);
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__lists {
  list-style: none;
  margin-right: 24px;
}

.nav__list--anchor {
  display: flex;
  font-size: 18px;
  color: var(--white);
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: all 150ms ease;
  transform: translateY(2px);
}

.nav__list--anchor:hover {
  border-bottom: 2px solid var(--white);
  transform: translateY(0);
}

.nav__list--anchor--user {
  font-weight: 700;
  font-size: 18px;
  color: var(--white);
  display: flex;
  align-items: flex-end;
  margin-right: 32px;
  text-transform: capitalize;
  cursor: default;
}

.nav__list--anchor--user svg {
  margin-right: 4px;
}

.nav__list--anchor--primary svg {
  display: flex;
  margin-left: 16px;
  color: var(--white);
  cursor: pointer;
  transition: all 300ms ease;
}

.nav__list--anchor--primary:hover svg {
  opacity: 0.7;
}

/* MOBILE MENU NAV */

.nav__list--mobile {
  display: none;
  flex-direction: column;
  align-items: flex-end;
  padding: 24px 0;
}

.nav__list--mobile .nav__lists {
  padding: 8px 0;
  margin: 0;
}

.nav__list--mobile .nav__list--anchor {
  font-size: 16px;
}

.nav__list--mobile .nav__list--anchor--primary svg {
  font-size: 32px;
  margin: 0;
}

.mobile__menu {
  position: absolute;
  background: var(--darker-color);
  color: var(--white);
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  top: -160px;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 32px;
  z-index: 3;
  transition: top 300ms ease;
}

.mobile__menu--open {
  top: 68px;
}

.mobile__menu .icon-1 {
  position: absolute;
  top: 60%;
  left: 11%;
  transform: translate(-11%, -60%);
  font-size: 200px;
  z-index: 3;
  color: var(--background-color);
}

/* 
LOGIN
*/

.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  z-index: 1;
}

.login__label {
  display: flex;
  width: 100%;
  font-size: 24px;
}

.login__input {
  width: 100%;
  max-width: none;
}

.login__btn {
  margin: 16px auto 0 auto;
  width: 100%;
  max-width: 360px;
}

.faulty-login {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  z-index: 1;
  margin: 8px 0 16px 0;
  padding: 16px 8px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  background-color: var(--faulty-bg);
  color: var(--faulty);
  border-radius: 4px;
  border: 2 px solid var(--faulty);
}

.demo-login {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 360px;
  z-index: 1;
  margin: 24px 0;
  padding: 16px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  background-color: var(--faulty-bg);
  color: var(--background-color);
  border-radius: 4px;
  border: 1px solid var(--background-color);
}


/* 
MENU 
*/

.menu--wrapper {
  width: 100%;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  background-color: var(--darker-color);
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 32px;
}

.menu__title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 40px;
  margin-bottom: 16px;
  line-height: 1;
}

.menu__title svg {
  font-size: 32px;
  margin-left: 8px;
}

.menu__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 678px;
  width: 100%;
  color: var(--text-color);
  background-color: var(--white-background);
  border-radius: 8px;
  padding: 48px;
  position: relative;
}

.menu__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 1;
}

.menu__body--history {
  justify-content: flex-start;
}

.menu__body--pop-up {
  padding-top: 96px;
}

.menu__back {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: var(--white);
  top: 42px;
  left: 48px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--darker-color);
  opacity: 0.16;
  transition: all 150ms ease;
}

.menu__back:hover {
  background-color: #135EF2;
  opacity: 0.86;
}

.menu__back:active {
  opacity: 0.16;
}

.menu__back svg {
  font-size: 40px;
}

.menu__body .icon-1 {
  position: absolute;
  top: 16%;
  left: 4%;
  transform: translate(-4%, -16%) rotate(-16deg);
  font-size: 320px;
  opacity: 0.04;
  z-index: 0;
  color: var(--primary-color);
}

.menu__body .icon-2 {
  position: absolute;
  top: 84%;
  left: 96%;
  transform: translate(-96%, -84%) rotate(16deg);
  font-size: 320px;
  opacity: 0.04;
  z-index: 0;
  color: var(--primary-color);
}

.menu__sub-title {
  color: var(--text-color);
  font-size: 32px;
  margin-bottom: 16px;
  text-align: center;
}

.menu__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 1;
  max-width: 800px;
}

.menu__form-half {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;

}

.form__input {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.form__btn--wrapper {
  padding: 0 8px;
  width: 50%;
  margin-top: 16px;
}

.form__btn {
  margin: 0;
  max-width: none;
}

.btn--missing {
  background-color: var(--form-fill);
  background-image: none;
  box-shadow: var(--background-color);
  cursor: not-allowed;
}

.btn--missing:hover {
  background-color: var(--form-fill);
  box-shadow: 0 0 0;
  transform: translateY(0);
}

/* HISTORY */

.event {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
  background-color: var(--form-fill);
  border-radius: 8px;
  padding: 16px;
  transition: all 150ms ease;
}

.event-edit {
  width: 100%;
  max-width: 800px;
  margin-bottom: 16px;
  padding: 0 8px;
}

.event-edit .event {
  margin-top: 0;
}

.event-edit .event__right-col {
  width: 16%;
}

.event-edit .event__edit-col {
  display: none;
}

.event__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.event__header--mobile {
  display: none;
}

.event__header--form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.event__header--input--wrapper {
  display: flex;
  align-items: center;
}

.event__header--input {
  margin: 0 0 0 8px;
  padding: 4px 8px;
  height: 32px;
}

.event__header--btn {
  padding: 0;
  width: 32px;
  height: 32px;
  margin: 0 0 0 4px;
  box-shadow: none;
}

.filter__btn {
  display: none;
}

.event__header--btn svg {
  margin: 0
}

.event__header--btn:hover {
  box-shadow: none;
  transform: none;
}

.event__sub-title {
  font-size: 16px;
  text-align: center;
}

.no-results__title {
  margin: 32px 0 8px 0;
}

.no-results__sub-title {
  margin-bottom: 16px;
}

.event__left-col {
  display: flex;
  align-items: center;
  width: 84%;
}

.event__right-col {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 16%;
}

.event__right-col svg {
  font-size: 32px;
  transition: all 150ms ease;
}

.event__right-col svg:hover {
  cursor: pointer;
  color: var(--form-fill);
}

.col__container--1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 14%;
}

.col__container--2 {
  display: flex;
  flex-direction: column;
  width: 12%;
}

.col__container--3 {
  display: flex;
  flex-direction: column;
  width: 74%;
}

.event__title {
  font-size: 18px;
}

.event__date {
  display: none;
  margin-top: 8px;
  font-size: 18px;
  font-weight: 700;
}

.event__time {
  font-size: 18px;
  text-align: center;
  font-weight: 700;
}

.event__location {
  font-size: 24px;
}

.event__operator {
  font-size: 24px;
}

.event:hover {
  background-color: var(--background-color);
}

.event__total {
  display: flex;
  width: 100%;
  margin-top: 16px;
}

/* PAGINATION */

.pagination {
  display: flex;
}

.pagination__list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0 4px;
}

.pagination__link {
  padding: 20px;
  width: 24px;
  height: 24px;
  font-size: 24px;
  margin: 0;
}

.pagination__link--curr {
  background-image: linear-gradient(135deg, var(--darker-color) 0%, var(--primary-color) 100%);
  box-shadow: 0 6px 0 var(--darker-color);
  transform: translateY(-2px);
}

.pagination__link:active {
  box-shadow: 0 6px 0 var(--darker-color);
  transform: translateY(-2px);
}

.pagination__span {
  margin-top: 12px;
  font-size: 18px;
  font-weight: bold;
}

/* POP-UP MENU */

.menu__pop-up--window {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(135deg, var(--lighter-color) 0%, var(--darker-color) 50%, var(--lighter-color) 100%);
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 16px;
  width: 100%;
  max-width: 600px;
  min-height: 400px;
  z-index: 999;

}

.pop-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white-background);
  border-radius: 4px;
  width: 100%;
  padding: 32px;
}

.pop-up__title {
  font-size: 32px;
  color: var(--text-color);
  margin-bottom: 0;
}

.pop-up__sub-title {
  color: var(--text-color);
  margin-bottom: 16px;
  font-size: 20px;
}

.pop-up__background:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: var(--black);
  opacity: 0.16;
  cursor: not-allowed;
  z-index: 4;
}


/* SKELETON */

.skeleton {
  background-size: 300% 300%;
  background-image: linear-gradient(-90deg,
      var(--background-color) 0%,
      var(--form-fill) 51%,
      var(--background-color) 100%);
  animation: AnimateBG 6s ease infinite;
  margin-bottom: 16px;

}

.menu__title--skeleton {
  max-width: 485px;
  width: 100%;
  height: 40px;
  border-radius: 4px;
}

.sub-title__skeleton {
  max-width: 360px;
  width: 100%;
  height: 48px;
  border-radius: 4px;
}

.btn__skeleton {
  max-width: 384px;
  width: 100%;
  height: 62px;
  margin: 16px 0 12px 0;
  border-radius: 4px;
}

.event__header--skeleton {
  width: 100%;
  height: 32px;
  margin-bottom: 0;
}

.event__skeleton {
  width: 100%;
  height: 84px;
  border-radius: 4px;
  margin-top: 16px;
  margin-bottom: 0;
}

.event-edit__skeleton {
  width: 100%;
  height: 84px;
  border-radius: 4px;
  margin-top: 0px;
  margin-bottom: 16px;
}

.label__skeleton {
  max-width: 120px;
  width: 100%;
  height: 22px;
  border-radius: 4px;
  margin: 0 0 8px 12px;
}

.input__skeleton {
  max-width: 384px;
  width: 100%;
  height: 52px;
  border-radius: 4px;
  margin: 0 8px 16px 8px;
}

.footer__anchor--skeleton {
  width: 82px;
  height: 20px;
  border-radius: 4px;
  margin: 0 24px 16px 24px;
}

/* FOOTER */

footer {
  bottom: 16px;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 24px 16px 24px;
}

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 1250px;
  width: 100%;
  padding: 24px 32px;
  background-color: var(--darker-color);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 8px;
}

.footer__logo {
  font-size: 48px;
  color: var(--white);
  margin-bottom: 8px;
  transition: all 150ms ease;
}

.footer__logo svg {
  font-size: 32px;
}

.footer__logo:hover {
  transform: translateY(-2px);
}

.footer__copyright {
  display: flex;
  justify-content: center;
  color: var(--white);
  cursor: default;
  opacity: 0.5 !important;
}

/* LOADING */

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg) scale(2);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg) scale(2);
  }
}

/**
  * Spinning dots
  *
  * @author jh3y
*/
.spinning-dots:before {
  -webkit-animation: spin 0.9s infinite alternate;
  animation: spin 0.9s infinite alternate;
  border-radius: 10px;
  -webkit-box-shadow: 25px 0px 0 0 var(--primary-color), 15.58725px 19.54579px 0 0 var(--primary-color), -5.56302px 24.3732px 0 0 var(--primary-color), -22.52422px 10.84709px 0 0 var(--primary-color), -22.52422px -10.84709px 0 0 var(--primary-color), -5.56302px -24.3732px 0 0 var(--primary-color), 15.58725px -19.54579px 0 0 var(--primary-color);
  box-shadow: 25px 0px 0 0 var(--primary-color), 15.58725px 19.54579px 0 0 var(--primary-color), -5.56302px 24.3732px 0 0 var(--primary-color), -22.52422px 10.84709px 0 0 var(--primary-color), -22.52422px -10.84709px 0 0 var(--primary-color), -5.56302px -24.3732px 0 0 var(--primary-color), 15.58725px -19.54579px 0 0 var(--primary-color);
  content: '';
  position: absolute;
  height: 10px;
  width: 10px;
}

/* RESPONSIVENESS */

@media (max-width: 1000px) {

  .menu__title {
    margin-bottom: 8px;
  }

  .menu__title--skeleton {
    margin-bottom: 2px;
  }

  .event__header {
    flex-direction: column;
    justify-content: center;
    width: 250px;
  }

  .event__total {
    justify-content: center;
  }

  .event__date {
    display: flex;
  }

  .event__header--desktop {
    display: none;
  }

  .event__header--mobile {
    display: flex;
    margin-bottom: 8px;
  }

  .filter__btn {
    display: flex;
    padding: 8px 16px;
    max-width: 250px;
    margin-bottom: 0;
  }

  .event__header--input--wrapper {
    margin-bottom: 8px;
    width: 100%;
  }

  .event__header--skeleton {
    height: 80px;
  }
}

@media (max-width: 768px) {
  .app {
    background-image: none;
    background-color: var(--darker-color);
  }

  .row {
    padding: 0;
  }


  .container {
    padding: 0;
  }

  nav {
    padding: 0;
    height: 100px;
  }

  .nav__container {
    border-radius: 0;
    box-shadow: none;
    padding: 0 16px;
  }

  .nav__list--desktop {
    display: none;
  }

  .nav__list--mobile {
    display: flex;
  }

  .nav__list--anchor {
    border-bottom: none;
    transform: translateY(0);
  }

  .nav__list--anchor:hover {
    border-bottom: none;
  }

  .btn {
    font-size: 18px;
    max-width: 320px;
  }

  .login__label {
    font-size: 16px;
  }

  .login__input {
    margin-bottom: 8px;
  }

  .login__btn {
    max-width: none;
    width: 100%;
  }

  .menu--wrapper {
    box-shadow: none;
    background-color: var(--white-background);
    border-radius: 0;
    padding: 0 16px;
  }

  .menu__body {
    padding: 40px 0;
    border-radius: 0;
    min-height: calc(100vh - 198px)
  }

  .menu__back {
    top: 32px;
    left: 8px;
    width: 32px;
    height: 32px;
  }

  .menu__back svg {
    font-size: 32px;
  }

  .menu__title {
    font-size: 32px;
  }

  .menu__sub-title {
    font-size: 24px;
    margin-bottom: 16px;
  }

  .menu__body .icon-1,
  .menu__body .icon-2 {
    font-size: 200px;
  }

  .filter__btn {
    max-width: 180px;
  }

  .no-results__title {
    margin: 16px 0 8px 0;
  }

  .no-results__sub-title {
    margin-bottom: 8px;
  }

  .event {
    margin-top: 8px;
  }

  .event__time,
  .event__title {
    font-size: 16px;
  }

  .event__location,
  .event__operator {
    font-size: 20px;
  }

  .event__sub-title {
    margin-bottom: 8px;
  }

  .menu__pop-up--window {
    padding: 0;
    max-width: none;
    height: 100%;
  }

  .pop-up__title {
    margin-bottom: 0;
    font-size: 20px;
  }

  footer {
    padding: 0;
  }

  .footer__container {
    border-radius: 0;
    box-shadow: none;
    padding: 16px 0;
  }

  .footer__logo {
    font-size: 32px;
    margin-bottom: 0;
  }

  .footer__copyright {
    font-size: 12px;
  }
}

@media (max-width: 550px) {
  .menu__body {
    padding: 24px 0;
  }

  .menu__title {
    font-size: 28px;
  }

  .event__date {
    font-size: 16px;
  }

  .event {
    justify-content: center;
  }

  .event__skeleton,
  .event-edit__skeleton {
    height: 137px;
    margin-top: 8px;
  }

  .event__left-col {
    flex-direction: column;
    align-items: flex-start;
    width: 92%;
  }

  .event__right-col {
    width: 8%;
  }

  .col__container--1,
  .col__container--2,
  .col__container--3 {
    width: 100%;
  }

  .event__right-col {
    flex-direction: column-reverse;
  }
}